# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Database Files
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log